* {
  box-sizing: border-box;
}
body {
margin: 0;
}
a {
color: inherit;
}
img {
width: 100%;
max-width: 100%;
}
h1, h2 ,h3 {
  margin: 0.5em;
}

/* temporary selectors  */
/* .display_none {
display: none !important;
} */

.display_block {
display: block !important;
}
